.terraform
.terraform.tfstate*
terraform.tfstate*
terraform.tfvars
terrraform.auto.tfvars
variable.tf
kubeconfig
.decrypted*
# trash
.DS_Store
Thumbs.db
# temp folders
.private/
# ansible
xanmanning.k3s*
# terraform
.terraform
*.tfvars
# sops
.decrypted~*
*.agekey
*.pub
*.key
*.pem
# kubernetes
kubeconfig*
kubernetes/schemas
# extras
config.xml
kubernetes_new
ansible
.DS_Store